.updateProduct {
  padding: 0.5em;
}

.updateProduct__formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
  padding: 1.5em;
}

.updateProduct__formHeading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #111;
  border-bottom: 3px solid orangered;
}

.updateProduct__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 70%;
  border-radius: 5px;
}

.updateProduct__formField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 75%;
}

.updateProduct__formLabel {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--black);
}

.updateProduct__formInput {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--black);
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  padding: 0.3em;
  resize: none;
}

.updateProduct__formInput:focus {
  border: 1.5px solid orangered;
}

.updateProduct__formError {
  font-weight: 500;
  color: rgb(255, 34, 0);
}

.updateProduct__formButton {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  font-size: 1.1rem;
  color: rgba(37, 37, 37);
  padding: 0.5em;
  margin-top: 3rem;
}

.updateProduct__formButton:hover,
.updateProduct__formButton:focus {
  background-color: orangered;
  color: white;
  border-color: white;
}

.updateProduct__formButton:disabled {
  background-color: rgb(216, 71, 18);
  cursor: not-allowed;
}

.updateProduct__imageNote {
  font-size: 1.15rem;
  font-weight: 500;
  color: orangered;
  border-radius: 5px;
  border-bottom: 3px solid orangered;
}

.updateProduct__productImage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.updateProduct__productImagePreview {
  color: orangered;
  font-size: 3rem;
  width: 50%;
  border-radius: 50%;
}

.updateProduct__productImageInput {
  padding: 0;
  border: none;
  width: 50%;
}

.updateProduct__productImageInput::file-selector-button {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  color: rgba(37, 37, 37);
  padding: 0.5em;
  width: 100%;
}

.updateProduct__productImageInput::file-selector-button:hover {
  background-color: orangered;
  color: white;
  border-color: white;
}

@media (max-width: 800px) {
  .updateProduct__productImage {
    flex-direction: column;
  }
}
