@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: url("./assets/images/mouse-icon.png"), auto;
  caret-color: orangered;
}

:root {
  --black: #495057;
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  html {
    font-size: 9px;
  }
}
